/* Responsive Web Design */
/* Mobile First */

/* Mobile width: hasta 767px: 1 columna 390mockup*/
/* Tablet width: 768px a 1024px: 2 columnas 768mockup*/
/* Desktop width: desde 1025px: 3 columnas 1920mockup*/

/******************************************/
/* Variables CSS */
:root {
    --blanco: #ffffff;
    --negro: #000000;
    --beige: #e7e0e0;
    --gris: #c9c9c9;
    --rojo: #ed1c1c;

    --playfair: "Playfair Display", serif;
    --inter: "Inter", sans-serif;

    --title-font: var(--playfair);
    --text-font: var(--inter);
    --normal-weight: 400;
    --bold-weight: 700;
}

/******************************************/
/* Reset de estilos */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/******************************************/
/* Commún */
body {
    display: flex;
    flex-direction: column;
    background-color: var(--beige);
    font-family: var(--text-font);
    font-weight: var(--normal-weight);
    font-size: medium;
    color: var(--negro);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--title-font);
    font-weight: var(--bold-weight);
}

body a {
    color: var(--negro);
}

body a:hover {
    color: var(--rojo);
    text-decoration: dotted;
}

.dark-block {
    width: 100%;
    background-color: var(--negro);
    color: var(--blanco);
}

.dark-block a {
    color: var(--blanco);
}

section {
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

@media (min-width: 768px) {
    section {
        padding: 6rem 1rem;
    }
}

abbr {
    cursor: help;
}

/******************************************/
/* Botones */
button {
    padding: 0.5rem 1rem;
    width: fit-content;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
}

.white-button {
    background-color: var(--blanco);
    color: var(--negro);
}

.white-button:hover {
    background-color: var(--rojo);
}

.black-button {
    background-color: var(--negro);
    color: var(--blanco);
}

.black-button {
    background-color: var(--negro);
    color: var(--blanco);
}

.transparent-button {
    background-color: transparent;
    color: var(--negro);
    border: 1px solid var(--negro);
}

.transparent-button:hover {
    background-color: var(--rojo);
    border: 1px solid var(--rojo);
}

/******************************************/
/* Header y navegación */
header {
    width: 100%;
    display: grid;
    grid: 'logo'
        'menu' / 1fr;
    align-items: center;
    padding: 0rem 1rem;
}

@media (min-width: 768px) {
    header {
        grid: 'logo menu' / 1fr;
    }
}

@media (min-width: 1024px) {
    header {
        padding: 0rem 4rem;
    }
}

.logo {
    grid-area: logo;
    height: fit-content;
    width: fit-content;
    margin: 1rem 0;
}

.nav-menu {
    grid-area: menu;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: left;
    list-style: none;
    margin: 1rem 0;
}

@media (min-width: 768px) {
    .nav-menu {
        justify-content: right;
    }
}

.nav-option a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: var(--bold-weight);
}

.nav-option a:hover {
    color: var(--rojo);
}

#first-option::after {
    content: "";
    display: inline-block;
    background-color: var(--rojo);
    margin: 0 1rem 0 0.7rem;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    overflow: hidden;
    font-size: x-large;
    color: var(--rojo);
}

/******************************************/
/* Footer */
footer {
    width: 100%;
    gap: 2rem;
    display: grid;
    grid: 'newsletter' 'about-legal' 'social-credits' / 1fr;
    padding: 2rem 1rem 2rem 1rem;
}

@media (min-width: 768px) {
    footer {
        grid: 'newsletter newsletter' 'about-legal social-credits' / 1fr 1fr;
    }
}

@media (min-width: 1024px) {
    footer {
        grid: 'newsletter about-legal social-credits' / 2fr 1fr 1fr;
        padding: 4rem 4rem;
    }
}

#newsletter-form {
    grid-area: newsletter;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
    max-width: 100%;
}

#newsletter-form p {
    font-size: 1.3rem;
    line-height: 2rem;
}

#newsletter-form input[type="email"] {
    padding: 1rem;
    width: 100%;
    border: none;
    color: var(--gris);
    font-size: medium;
    background-color: #000000;
    border-bottom: 1px solid var(--blanco);
}

#newsletter-form label {
    line-height: 1.5rem;
}

#first-links-container {
    grid-area: about-legal;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#second-links-container {
    grid-area: social-credits;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

@media (min-width: 1024px) {
    #first-links-container {
        justify-self: end;
    }

    #second-links-container {
        justify-self: end;
    }
}

.footer-link-group {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
}

.footer-link {
    text-decoration: none;
}


/******************************************/
/* Index */
/******************************************/
/* Title section */
#title-section h1 {
    font-size: 2em;
    text-align: center;
}

#title-section p {
    text-align: center;
    font-size: 1.3em;
    font-family: var(--title-font);
    font-weight: var(--normal-weight);
}

/******************************************/
/* Featured Story section */
#featured-story-section {
    display: grid;
    grid: 'featured-text'
        'featured-video' / 1fr;

    padding: 2rem 1rem;
    gap: 1.5rem;
}

@media (min-width: 1024px) {
    #featured-story-section {
        grid: 'featured-text featured-video' / 1fr 2fr;
        padding: 6rem 10rem;
        vertical-align: top;
    }
}

#featured-text-container {
    grid-area: featured-text;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#featured-video-container {
    grid-area: featured-video;
    width: 100%;
}

#embed-video-index {
    width: 100%;
    aspect-ratio: 16/9;
    border: none;
}

/******************************************/
/* Category section */

#category-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 100%;
    gap: 2rem;
}

#category-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

@media (min-width: 768px) {
    #category-grid {
        flex-direction: row;
    }
}

.category-card {
    background-color: var(--negro);
    border-radius: 20px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;

    text-decoration: none;
    color: var(--blanco);
}

.category-card img {
    max-width: 100%;
}

.category-card p {
    width: 100%;
    text-align: left
}


/******************************************/
/* Catálogo */
/******************************************/