/* Responsive Web Design */
/* Mobile First */

/* Mobile width: hasta 767px: 1 columna 390mockup*/
/* Tablet width: 768px a 1024px: 2 columnas 768mockup*/
/* Desktop width: desde 1025px: 3 columnas 1920mockup*/

/******************************************/
/* Variables CSS */
:root {
    --blanco: #ffffff;
    --negro: #000000;
    --beige: #e7e0e0;
    --gris: #c9c9c9;
    --rojo: #ed1c1c;

    --playfair: "Playfair Display", serif;
    --inter: "Inter", sans-serif;

    --title-font: var(--playfair);
    --text-font: var(--inter);
    --normal-weight: 400;
    --bold-weight: 700;
}

/******************************************/
/* Reset de estilos */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/******************************************/
/* Commún */
body {
    display: flex;
    flex-direction: column;
    background-color: var(--beige);
    font-family: var(--text-font);
    font-weight: var(--normal-weight);
    font-size: medium;
    color: var(--negro);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--title-font);
    font-weight: var(--bold-weight);
}

h1 {
    font-size: 3rem;
}

a {
    color: var(--negro);
}

a:hover {
    color: var(--rojo);
}

.main-title {
    padding: 2rem 1rem;
    text-align: center;
}

.dark-block {
    width: 100%;
    background-color: var(--negro);
    color: var(--blanco);
}

.dark-block a {
    color: var(--blanco);
}

.light-block {
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
}

@media (min-width: 1024px) {
    .light-block {
        width: 50%;
        max-width: 800px;
    }
}

section {
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

@media (min-width: 768px) {
    section {
        padding: 6rem 1rem;
    }
}

abbr {
    cursor: help;
}

* input {
    color: var(--gris);
    font-family: var(--text-font);
    padding: 0.5rem;
    width: 100%;
}

.featured-video-container {
    grid-area: featured-video;
    width: 100%;
}

.featured-video-container figcaption {
    text-align: center;
}

/******************************************/
/* Botones */
button {
    padding: 0.5rem 1rem;
    width: fit-content;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: var(--rojo);
}

.white-button {
    background-color: var(--blanco);
    color: var(--negro);
}

.black-button {
    background-color: var(--negro);
    color: var(--blanco);
}

.transparent-button {
    background-color: transparent;
    color: var(--negro);
    border: 2px solid var(--negro);
    padding: 0.2rem 0.2rem;
}

.transparent-button:hover {
    border: 2px solid var(--rojo);
}

/******************************************/
/* Header y navegación */
header {
    width: 100%;
    display: grid;
    grid: 'logo'
        'menu' / 1fr;
    align-items: center;
    padding: 0rem 1rem;
}

@media (min-width: 768px) {
    header {
        grid: 'logo menu' / 1fr;
    }
}

@media (min-width: 1024px) {
    header {
        padding: 0rem 4rem;
    }
}

.logo {
    grid-area: logo;
    height: fit-content;
    width: fit-content;
    margin: 1rem 0;
}

.nav-menu {
    grid-area: menu;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: left;
    list-style: none;
    margin: 1rem 0;
}

@media (min-width: 768px) {
    .nav-menu {
        justify-content: right;
    }
}

.nav-option a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: var(--bold-weight);
}

.nav-option a:hover {
    color: var(--rojo);
}

.with-dot::after {
    content: "";
    display: inline-block;
    background-color: var(--rojo);
    margin: 0 1rem 0 0.7rem;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
}

/******************************************/
/* Footer */
footer {
    margin-top: 10rem;
    width: 100%;
    gap: 2rem;
    display: grid;
    grid: 'newsletter' 'about-legal' 'social-credits' / 1fr;
    padding: 2rem 1rem 2rem 1rem;
}

@media (min-width: 768px) {
    footer {
        grid: 'newsletter newsletter' 'about-legal social-credits' / 1fr 1fr;
    }
}

@media (min-width: 1024px) {
    footer {
        grid: 'newsletter about-legal social-credits' / 2fr 1fr 1fr;
        padding: 4rem 4rem;
    }
}

footer a {
    text-decoration: none;
}

footer a:hover {
    color: var(--rojo);
}

#newsletter-form {
    grid-area: newsletter;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
    max-width: 100%;
}

#newsletter-form p {
    font-size: 1.3rem;
    line-height: 2rem;
}

#newsletter-form input[type="email"] {
    border: none;
    background-color: #000000;
    border-bottom: 1px solid var(--blanco);
}

#newsletter-form label {
    line-height: 1.5rem;
}

.consent-container {
    display: inline-block;
    align-items: center;
    gap: 0.5rem;
}

#consent-checkbox {
    width: auto;
}

#first-links-container {
    grid-area: about-legal;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#second-links-container {
    grid-area: social-credits;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

@media (min-width: 1024px) {
    #first-links-container {
        justify-self: end;
    }

    #second-links-container {
        justify-self: end;
    }
}

.footer-link-group {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
}

.footer-link {
    text-decoration: none;
}


/******************************************/
/* Index */
/******************************************/
/* Title section */
#title-section h1 {
    font-size: 2em;
    text-align: center;
}

#title-section p {
    text-align: center;
    font-size: 1.3em;
    font-family: var(--title-font);
    font-weight: var(--normal-weight);
}

/******************************************/
/* Featured Story section */
#featured-story-section {
    display: grid;
    grid: 'featured-text'
        'featured-video' / 1fr;

    padding: 2rem 1rem;
    gap: 1.5rem;
}

@media (min-width: 1024px) {
    #featured-story-section {
        grid: 'featured-text featured-video' / 1fr 2fr;
        padding: 6rem 10rem;
        vertical-align: top;
    }
}

#featured-text-container {
    grid-area: featured-text;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#embed-video-index {
    width: 100%;
    aspect-ratio: 16/9;
    border: none;
}

/******************************************/
/* Category section */

#category-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 100%;
    gap: 2rem;
}

#category-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

@media (min-width: 768px) {
    #category-grid {
        flex-direction: row;
    }
}

.category-card {
    background-color: var(--negro);
    border-radius: 20px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;

    text-decoration: none;
    color: var(--blanco);
}

.category-card img {
    max-width: 100%;
}

.category-card p {
    width: 100%;
    text-align: left
}


/******************************************/
/* Catálogo */
/******************************************/
#catalog {
    padding: 1rem 1rem;
    gap: 2rem;
}

.catalog-container {
    display: grid;
    grid: 'catalog-nav' 'films' 'tvshows' 'docs' / 1fr;
    width: 100%;
    gap: 1rem;
}

@media (min-width: 1024px) {
    .catalog-container {
        grid: 'catalog-nav films' 'catalog-nav tvshows' 'catalog-nav docs' / 1fr 5fr;
    }
}

/******************************************/
/* Catalog navigation */
#catalog-nav {
    grid-area: catalog-nav;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
}

#catalog-nav-list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
}

#catalog-nav-list li {
    list-style: none;
    width: 100%;
}

#catalog-nav-list li a {
    display: block;
    text-decoration: none;
    font-weight: var(--bold-weight);
    padding-bottom: 0.5rem;
    border-bottom: 2px solid var(--negro);
}

#catalog-search {
    display: flex;
    flex-direction: row;
    align-items: space-between;
    border: 2px solid var(--negro);
    background-color: var(--blanco);
    gap: 1.5rem;
    width: 100%;
}

#catalog-search input {
    border: none;
}

#catalog-search img {
    background-color: var(--blanco);
}

/******************************************/
/* Catalog container */
.catalog-cards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 1.5rem;
}

.catalog-cards-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
    align-items: center;
    width: 100%;
}

@media (min-width: 1024px) {
    .catalog-cards-grid {
        grid-template-columns: 1fr 1fr;
    }
}

.catalog-cards-title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    gap: 1.5rem;
}

.catalog-card {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    border: 1px solid var(--blanco);
    width: 100%;
}

.catalog-card-info {
    background-color: var(--negro);
    color: var(--blanco);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    flex: 1;
}

.catalog-card-info h3 {
    font-style: italic;
}

.catalog-card-info button {
    padding: 0.5rem 0.5rem;
}

.catalog-card-fig {
    background-color: var(--blanco);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.catalog-card-fig img {
    border-radius: 50%;
    border: 1px solid var(--negro);
    overflow: hidden;
    max-width: 50%;
}

.catalog-card-fig figcaption {
    text-align: center;
    font-size: 0.8rem;
    line-height: 1.3rem;
}

.catalog-cards-button {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
}

#films-container {
    grid-area: films;
}

#tvshows-container {
    grid-area: tvshows;
}

#docs-container {
    grid-area: docs;
}

/******************************************/
/* Blog */
/******************************************/
#blog-main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

.blog-title a {
    text-decoration: none;
}

.blog-title a:hover {
    color: var(--rojo);
    text-decoration-style: none;
}

.blog-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.blog-entry {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

@media (min-width: 1024px) {
    .blog-entry {
        display: grid;
        grid: 'blog-tags blog-tags blog-tags .'
            'blog-title blog-title blog-title .'
            'blog-summary blog-summary blog-summary blog-info'
            'read-more . . .' / auto auto auto auto;
    }
}

.blog-entry a {
    text-decoration-style: dotted;
}

.blog-comments a:hover {
    text-decoration: underline;
}

.read-more a:hover {
    text-decoration: underline;
}

.blog-tags {
    grid-area: blog-tags;
}

.blog-title {
    grid-area: blog-title;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem 0rem;
}

.blog-summary {
    grid-area: blog-summary;
    gap: 1.5rem;
}

.blog-date {
    text-transform: uppercase;
}

.blog-info {
    grid-area: blog-info;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    width: fit-content;
}

.read-time {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.blog-comments {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.read-more {
    grid-area: read-more;
}

/******************************************/
/* Ficha */
/******************************************/
.ficha-title h1 {
    font-style: italic;
}

.ficha-character {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    border-top: 1px solid var(--negro);
    border-bottom: 1px solid var(--negro);
    padding: 2rem 0;
    gap: 2rem;
}

@media (min-width: 1024px) {
    .ficha-character {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
}

.ficha-character p {
    font-weight: var(--bold-weight);
    line-height: 1.5rem;
}

.ficha-character img {
    border-radius: 50%;
    border: 1px solid var(--negro);
    overflow: hidden;
    max-width: 100%;
}

.ficha-tag {
    text-transform: uppercase;
    text-wrap: nowrap;
    font-weight: var(--normal-weight);
    color: var(--negro);
    background-color: var(--gris);
    width: fit-content;
    padding: 0.5rem 0.5rem;
}

/******************************************/
/* Datos película */
.ficha-info {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: left;
    gap: 2rem;
}

.ficha-info dl {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.ficha-info dl dt {
    font-weight: var(--bold-weight);
}

.ficha-info dd::before {
    font-weight: var(--normal-weight);
    content: "";
    padding: 0rem 1rem;
}

.actors-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.with-square::after {
    content: "";
    display: inline-block;
    background-color: var(--rojo);
    margin: 0 1rem 0 0.7rem;
    width: 0.3rem;
    height: 0.3rem;
}

/******************************************/
/* Sinopsis */
.ficha-summary {
    line-height: 1.5rem;
}

.ficha-summary h2 {
    padding-bottom: 2rem;
}